.bucket-card {
    width: 29vw;
    padding: 10px;
    border-radius: 5px;
    border: var(--font-color) 2px solid;
    box-shadow: 0 0 8px var(--font-color);
}

.bucket-card:hover {
    box-shadow: 0 0 20px var(--font-color);
    cursor: pointer;
}

.progress-bar {
    background-color: gray;
    height: 20px;
    width: 100%;
}

.progress-fill {
    background-color: var(--font-color);
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header * {
    margin: 0;
}

.menu {
    border: var(--font-color) 2px transparent;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    border: var(--font-color) 2px solid;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.dropdown button {
    border: transparent;
    padding: 5px;
}

.dropdown button:hover {
    cursor: pointer;
    background-color: #006eff4f;
}