.bucket-list li {
    display: flex;
    gap: 12px;
    align-items: center;
}

.form-input-field {
    display: flex;
    gap: 8px;
    align-items: center;
}

.delete-button {
    border: 1px var(--font-color) solid;
}

.delete-button:hover {
    background-color: var(--font-color);
    color: black;
}

.submit-btn {
    border: 2px var(--font-color) solid;
    border-radius: 5px;
    height: 30px;
    width: 90px;
}

.submit-btn:hover {
    background-color: var(--font-color);
    color: black;
}