header {
    display: flex;
    justify-content: space-between;
}

.bucket-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    padding: 10px;
    justify-content: space-around;
}

.form-input-field {
    display: flex;
    gap: 8px;
    align-items: center;
}

.delete-button {
    border: 1px var(--font-color) solid;
}

.delete-button:hover {
    background-color: var(--font-color);
    color: black;
}

.submit-btn {
    border: 2px var(--font-color) solid;
    border-radius: 5px;
    padding: 8px 10px;
}

.submit-btn:hover {
    background-color: var(--font-color);
    color: black;
    font-weight: bold;
}

input {
    border: 1px var(--font-color) solid;
    border-radius: 5px;
    height: 30px;
    width: 25%;
    padding: 0 8px;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}